html, body {
    font-family: arial;
    min-width: 300px;
}

button {
    border: 1px;
    border-radius: 15px;
    padding: 15px;
    cursor: pointer;
}

button:focus{
    outline: none;
}

* {
    outline: 0;
}

.dark {
    background-color: black;
    color: #ffffff;
}

.dark button {
    background: black;
    color: #fff;
    border: 0.5px solid #ffffff;
}

#mode {
    width: 161px;
}
